// join(delim, args)
//   buf = ''
//   for arg, index in args
//     if index
//       buf += delim + arg
//     else
//       buf += arg

nums = '.co,', '.ro,'
push(nums, '.be,')
push(nums, '.rbe,')
push(nums, '.lbe,')

{selector(nums)}
  font-size: nums
 // => 1 2 3 4 5

grid-constructor($amount, $suffix, $padding)
  $list = '.col'

  // join(', ', foo bar baz)

  for $num in (1..$amount)
    $selector = '.' + $suffix + '-' + $num
    {$selector}
      width (100% / $amount * $num)
    push($list, $selector)

  {selector($list)}
    padding-right $padding
    padding-left $padding
    position relative
    min-height 1px
    float left
    box-sizing border-box

  .row
    margin-right -($padding)
    margin-left -($padding)
    &:before,
    &:after
      display table
      content " "
      clear both
