@require 'config'

grid-constructor(
  $amount = $default-amount,
  $padding = $default-padding,
  $suffixes = $default-suffixes,
  $breakpoints = $default-breakpoints)

  $breakpoints-length = length($breakpoints) + 1

  for $i in (1..$breakpoints-length)

    if $i == 1
      for $j in (1..$amount)
        $selector = '.' + $suffixes[$i - 1] + '-' + $j
        {$selector}
          width (100% / $amount * $j)
        $list = join(', ', $list, $selector)
      {$list}
        padding-right $padding
        padding-left $padding
        position relative
        min-height 1px
        float left
        box-sizing border-box
    else
      @media screen and (min-width: $breakpoints[$i - 2])
        for $j in (1..$amount)
          $selector = '.' + $suffixes[$i - 1] + '-' + $j
          {$selector}
            width (100% / $amount * $j)
          $list = join(', ', $list, $selector)
        {$list}
          padding-right $padding
          padding-left $padding
          position relative
          min-height 1px
          float left
          box-sizing border-box

  .row
    margin-right -($padding)
    margin-left -($padding)
    &:before,
    &:after
      display table
      content " "
      clear both
