grid-constructor($amount, $suffix, $padding = 0)
  $list = ''

  for $num in (1..$amount)
    .{$suffix}-{$num}
      width (100% / $amount * $num)
    $list = $list + ', ' + $prefix + '-' + $num

  {$list}
    padding-right $padding
    padding-left $padding
    position relative
    min-height 1px
    float left
    box-sizing border-box

  .row
    margin-right -$padding
    margin-left -$padding
    &:before,
    &:after
      display table
      content " "
      clear both
